{{#if profile-form-field}}
<label class="profile-form-field {{profile-form-field.className}}">
    <div class="profile-form-label">{{profile-form-field.label}}</div>
    <input
        id="{{profile-form-field.ID}}"
        name="{{profile-form-field.name}}"
        value="{{profile-form-field.value}}"
        type="{{profile-form-field.type}}"
        class="profile-form-input"
    >
</label>
{{/if}}
